golang                      1.26.2
nodejs                      24.9.0
php                         8.2
python                      3.10
ruby                        3.2
terraform                   1.14.3
pipx:poetry                 2.1.1
uv                          0.11.6
java                        21 corretto-8
mprocs                      0.7.3
dotnet                      10 8 6
gradle                      latest
yq                          latest
golangci-lint               latest
